.loader {
    content: "";
    position: absolute;
    width: 20rem;
    height: 5rem;
    
    font-size: 10px;

    animation:loader 1.2s ease-in-out infinite;
  }

  @keyframes loader {
    0% {
      /* transform: translateX(-50%); */
      /* left: 0%; */
      font-size: 10px;
    }
  
    100% {
      /* transform: translateX(50%); */
      /* left: 60%; */
      font-size: 80px;
    }
    50% {
        /* transform: translateX(-50%); */
        /* left: 0%; */
        font-size: 10px;
      }
    
      0% {
        /* transform: translateX(50%); */
        /* left: 60%; */
        font-size: 80px;
      }
  }