.loader:after {
    content: "";
    position: absolute;
    width: 20rem;
    height: 5rem;
    /* border: 1px solid #111111; */
    /* top: 0;
    left: 0; */
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation_2 1.2s linear infinite;
  }

  @keyframes gradient-animation_2 {
    0% {
      transform: translateX(-50%);
    }
  
    100% {
      transform: translateX(50%);
    }
  }