@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');
#root {
  margin: 0 ;
  padding: 0rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*{
  transition: .3s all;
  scrollbar-width: none;
  font-family: 'Maven Pro', sans-serif;
  /* overflow-y: hidden; */
}
*::-webkit-scrollbar{
  display: none;
}
.buttonBlur{
  background: rgba(37, 32, 32, 0.3) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 10px;
}

.text-shadow{
  text-shadow: 1px 1px 1px #111111;
}
.text-sh-w{
  text-shadow: 1px 1px 1px #D3DDDD;
}
.box-shadow{
  box-shadow: 2px 2px 1px #3d3d3d;
}

@media only screen and (max-width:760px) {
  .text-shadow{
    text-shadow: .5px .5px 1px #111111;
  }
  .text-sh-w{
    text-shadow: .5px .5px 1px #D3DDDD;
  }
  .box-shadow{
    box-shadow: 1px 1px 1px #3d3d3d;
  }
}